div{
    padding-bottom:10px;
}

#errorMsg{
    color:red;
}

input[type="text"],input[type="email"],input[type="password"],input[type="date"]{
    font-size: 14px;
    width: 40%;
    padding: 0.375rem 0.75rem;
    color: #495057;
    border-radius: 0.25rem;
    border:1px solid gray;
}

input[type="tel"]{
    font-size: 14px;
    width: 29.5%;
    padding: 0.375rem 0.75rem;
    color: #495057;
    border-radius: 0.25rem;
    border:1px solid gray;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

main{
    margin-left:500px;
}

select{
    font-size: 14px;
    width: 10%;
    padding: 0.375rem 0.75rem;
    color: #495057;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    
    border-radius: 0.25rem;
    border:1px solid gray;
}
footer {
    padding: 0%;
}